@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Global */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #000;
  background-color: #f7f5f2;
}
.dn {
  display: none;
}
a:link {
  color: #61bb46;
  text-decoration: none;
}
a:hover {
  color: #61bb46;
  text-decoration: none;
}
a:visited {
  color: #61bb46;
  text-decoration: none;
}

/* Computer */
.grid_1 {
  width: 6.5%;
}
.grid_2 {
  width: 15%;
}
.grid_3 {
  width: 23.5%;
}
.grid_4 {
  width: 32%;
}
.grid_5 {
  width: 40.5%;
}
.grid_6 {
  width: 100%;
  height: 100%;
}
.grid_7 {
  width: 57.5%;
}
.grid_8 {
  width: 66%;
}
.grid_9 {
  width: 74.5%;
}
.grid_10 {
  width: 83%;
}
.grid_11 {
  width: 91.5%;
}
.grid_12 {
  width: 100%;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11 {
  margin: 1% 2% 1% 0;
  float: left;
  display: block;
}

.grid_12 {
  margin: 0 2% 2rem 0;
  float: left;
  display: block;
}

.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}

.container {
  width: 90%; /*width: 1000px;*/
  max-width: 1000px;
  margin: auto;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
* html .clearfix,
*:first-child + html .clearfix {
  zoom: 1;
}

/* Mobile */
@media screen and (max-width: 480px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width: 100%;
  }
}

/* Slide 5 */
#slide5 {
  padding: 20px 0 100px 0;
  background-color: #f7f5f2;
}
.contactmap {
  background: #f48022;
  border-radius: 4px;
}
#slide5 h2 {
  margin: 13px 0 0 30px;
  color: #fff;
  font-size: 1.5em;
}
#slide5 p {
  line-height: 150%;
  color: #fff;
  padding: 5px 0 0 30px;
}
.contactype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #c3c3c3;
  border-radius: 5px;
  height: 2.5rem;
  float: left;
  transition: all 0.3s ease-in;
}
.contactype p {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -7.5px;
  left: 0;
  padding: 0 !important;
}
.contactype:hover,
.contactype.active {
  background-color: #f48022;
}
.contactype div {
  font-size: 4em;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 0.2s ease-in;
}
/*
.contactmap .grid_8.omega .grid_6 {
  margin: 40px 0 0 220px;
}
*/
.contactmap .grid_8.omega .grid_6 .btn {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 0;
}
.bus-point {
  display: block;
  margin-bottom: 3px;
}
#contact-bus .grid_6.omega,
#contact-car .grid_6.omega {
  width: 100%;
  max-width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
.contactmap .information span {
  font-weight: bold;
}
#contact-phone .grid_6.omega {
  font-size: 2.5em;
  margin-top: 100px;
}
#contact-mail .grid_6.omega {
  padding-top: 40px;
}
.btn {
  display: inline-block;
  padding-left: 56px;
  color: #626263;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 16px 24px 17px 24px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-shadow: none;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  margin-left: 2.5em;
}
.btn span {
  font-size: 1em;
}
footer {
  position: relative;
  text-align: center;
  display: block;
}
footer hr {
  height: 0;
  width: 100%;
  display: block;
  position: absolute;
  background-color: #bbb;
  top: 40%;
  left: 0;
  z-index: 1;
}
.btn2 {
  color: #626263;
  background: #f7f5f2;
  border: 1px solid #bbb;
  box-shadow: 0 1px rgba(0, 0, 0, 0);
  padding: 14px 24px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-radius: 5px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.contactmap {
  height: 30rem;
  margin-bottom: 10%;
}
.contactmap .grid_8.omega {
  background-color: #fff;
  height: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#contact-car .grid_10.omega {
  margin: 0 auto;
  display: block;
}
#map_canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}
.submit {
  display: flex;
  margin: 0 auto;
  width: auto;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 15px 21px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  border-radius: 9px;
  text-decoration: none;
  white-space: nowrap;
  transition: border-color 0.4s;
}
.submit:hover {
  color: #fff;
  border-color: #fff;
}
.callus {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 240px;
  margin-left: -155px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  line-height: 1.5em;
  font-size: 1.5em;
  z-index: 99;
  padding: 10px 35px;
  text-align: center;
  animation-delay: 4s;
}
.callus:hover {
  background-color: #fff;
}

#contact-bikeClick.active div {
  font-size: 10em;
  color: #c3c3c3;
  top: 125px;
  left: -115px;
  -webkit-perspective: 10em;
  -moz-perspective: 10em;
  -ms-perspective: 10em;
  perspective: 10em;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
#contact-busClick.active div {
  font-size: 10em;
  color: #c3c3c3;
  top: 125px;
  left: 25px;
}
#contact-carClick.active div {
  font-size: 10em;
  color: #c3c3c3;
  top: 125px;
  left: 200px;
}
#contact-bikeClick.active div {
  left: -100px !important;
}
#contact-phoneClick.active div {
  left: -300px !important;
}
#contact-mailClick.active div {
  left: -440px !important;
}
#contact-mailClick.active div {
  font-size: 10em;
  color: #c3c3c3;
  top: 145px;
  left: -440px;
}
#contact-phoneClick.active div {
  font-size: 10em;
  color: #c3c3c3;
  top: 145px;
  left: -315px;
}

.rate-area {
  float: left;
  border-style: none;
}

.rate-area:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 400%;
  line-height: 1.2;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rate-area:not(:checked) > label:before {
  content: "★";
}

.rate-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
  font-size: 450% !important;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
  color: gold;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
#main_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 0rem 5rem;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-10,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-8,
.col-md-10,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-6,
.col-sm-8,
.col-sm-10,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-6,
.col-xs-8,
.col-xs-10,
.col-xs-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.col-xs-1 {
  width: 8.3333333%;
}
.col-xs-2 {
  width: 16.666666%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-8 {
  width: 66.666666%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.333333%;
}
.col-xs-12 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333333%;
  }
  .col-sm-2 {
    width: 16.666666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-8 {
    width: 66.666666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.333333%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-md-1 {
    width: 8.3333333%;
  }
  .col-md-2 {
    width: 16.666666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333%;
  }
  .col-lg-2 {
    width: 16.666666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/* end responsive grid system */

/* start responsive visibility */
/* this allows elements to be hidden and displayed at different screen sizes */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  .hidden-xs {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  .hidden-sm {
    display: none !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  .hidden-md {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  .hidden-lg {
    display: none !important;
  }
}
/* end responsive visibility*/

/* start clearfix */
.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.container:after,
.row:after {
  clear: both;
}
/* end clearfix */

/* include padding in width calculation */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* start helper classes */
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.center {
  text-align: center !important;
}
.block {
  display: block !important;
}
.center-block {
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  float: none;
  overflow-y: scroll;
}
/* end helper classes */

.status {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  display: inherit;
}
form .status {
  display: inline-block;
  margin: 0 0 0 20px;
  padding: 2px 6px;
}
.status-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.status-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

button.submit {
  border-radius: 5px;
  border: 2px solid #086736;
  background: #086736;
  color: #fff;
  cursor: pointer;
  padding: 7px 15px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 15px;
}
button.submit:hover {
  background: #59993e;
  border-color: #59993e;
}
button.submit:disabled {
  background: 0;
  border: 2px solid #086736;
  color: #086736;
  cursor: not-allowed;
}
label {
  font-size: 16px;
  margin: 5px 0 5px 0;
  padding-left: 5px;
  display: inline-block;
}

.checkboxes,
.radio-buttons {
  display: inline;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

input,
textarea {
  outline: none;
}

select,
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]) {
  margin-bottom: 20px;
  width: auto;
  display: block;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
}
select.error,
input:not([type="radio"]):not([type="checkbox"]).error,
textarea.error {
  border-color: #a94442;
  box-shadow: inset 0 2px 6px rgba(169, 68, 66, 0.2);
}
textarea {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  padding: 1rem;
  height: 10rem;
  resize: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.form-signin {
  width: 100%;
  margin-bottom: 1rem;
  margin: auto;
  height: 100%;
  overflow-y: scroll;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem 1rem 5rem;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: 3.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  width: 20rem;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -0.1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#scroll2 {
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search{
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
